BOT_TOKEN=PASTE_YOUR_BOT_TOKEN
ADMIN_ID=123456789

CHANNEL_ID=@YourChannelUsername
GROUP_ID=@YourGroupUsername

CHANNEL_LINK=https://t.me/YourChannelUsername
GROUP_LINK=https://t.me/YourGroupUsername
REGISTRATION_LINK=https://example.com/register

DB_PATH=reward_bot.db
